<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3>{{event.name}}</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd>{{moment-format event.startAtDate 'MM/DD/YYYY'}}</dd>
      <dt>Location</dt>
      <dd>{{event.city}}, {{event.state}}</dd>
      <dt>Website</dt>
      <dd><a href="{{event.url}}">{{event.url}}</a></dd>
    </dl>
  </div>
</div>
{{#if event.races}}
  <div class="row">
    {{#each event.races as |race|}}
      {{#unless race.hasDirtyAttributes}}
        <div class="col-sm-4">
          {{race-panel model=race deleteRace=(action 'deleteRace')}}
        </div>
      {{/unless}}
    {{/each}}
  </div>
{{else}}
  <div class="row">
    <p>
      No races
    </p>
  </div>
{{/if}}

<div class="row margin-bottom-10">
  {{#link-to 'events.index' class="btn btn-default col-sm-2" }}
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Events
  {{/link-to}}
  {{#unless addingRace}}
    <button class="btn btn-success col-sm-2 col-sm-offset-3" {{action 'addRace'}}>Add New Race</button>
  {{/unless}}
  <button class="btn btn-primary col-sm-2 {{if addingRace 'col-sm-offset-8' 'col-sm-offset-3'}}" {{action 'editEvent'}}>
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
  </button>
</div>

{{#if addingRace}}
  {{race-form model=race cancel=(action 'cancelAddRace') addAnotherRace=(action 'saveAndAddAnotherRace') finish=(action 'finishAddRace')}}
{{/if}}

{{yield}}
