<div class="panel panel-default">
  <div class="panel-heading text-center"><h3>{{model.name}}</h3></div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd>{{moment-format model.startAtDate 'MM/DD/YYYY'}}</dd>
      <dt>Location</dt>
      <dd>{{model.city}}, {{model.state}}</dd>
      <dt>Website</dt>
      <dd><a href="{{model.url}}">{{model.url}}</a></dd>
    </dl>
  </div>
</div>
{{#if model.races}}
  <div class="row">
    {{#each model.races as |race|}}
      <div class="col-sm-3">
        {{race-panel model=race}}
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="row">
    <p>
      No races
    </p>
  </div>
{{/if}}

{{yield}}
