<div class="row text-center">
  <button class="btn {{if model.isRun 'btn-primary' 'btn-info'}}" {{action "setRaceType" "run"}}>Run</button>
  <button class="btn {{if model.isBike 'btn-primary' 'btn-info'}}" {{action "setRaceType" "bike"}}>Bike</button>
  <button class="btn {{if model.isTri 'btn-primary' 'btn-info'}}" {{action "setRaceType" "tri"}}>Tri</button>
</div>

{{race-run-form model=model}}
