<div class="row text-center form-group">
  <strong>Select Race Type:</strong>
  <button class="btn btn-default {{unless model.isRun 'btn-default-deselected'}}" {{action "setRaceType" "run"}}>Run</button>
  <button class="btn btn-default {{unless model.isBike 'btn-default-deselected'}}" {{action "setRaceType" "bike"}}>Bike</button>
  <button class="btn btn-default {{unless model.isTri 'btn-default-deselected'}}" {{action "setRaceType" "tri"}}>Tri</button>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal">
          {{component (concat model.type '-distance-input') model=model}}
          <div class="form-group">
            <label for="surface1" class="col-sm-3 control-label">Course Surface</label>
            <div class="col-sm-3">
              {{#x-select id="surface1" class="form-control" value=model.surface}}
                {{#each surfaces as |surface|}}
                  {{#x-option value=surface.value}}
                    {{surface.label}}
                  {{/x-option}}
                {{/each}}
              {{/x-select}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
              {{#if model.event.races}}
                <button class="btn btn-danger" {{action "cancel"}}>Cancel
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              {{/if}}
            </div>
            <div class="col-sm-6 text-center">
              <button class="btn btn-primary" {{action "addAnotherRace"}}>Add Another Race
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              </button>
            </div>
            <div class="col-sm-2 text-right">
              <button class="btn btn-success" {{action "finish"}}>Finish
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
