<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Type</dt>
      <dd>{{capitalize model.type}}</dd>
      {{#if model.isTri}}
        <dt>Swim Distance</dt>
        <dd>{{model.swimDistanceInKilometers}} KM</dd>
      {{/if}}
      {{#if (or model.isBike model.isTri)}}
        <dt>Bike Distance</dt>
        <dd>{{model.bikeDistanceInKilometers}} KM</dd>
      {{/if}}
      {{#if (or model.isRun model.isTri)}}
        <dt>Run Distance</dt>
        <dd>{{model.runDistanceInKilometers}} KM</dd>
      {{/if}}
      <dt>Surface</dt>
      <dd>{{model.surface}}</dd>
    </dl>
  </div>
</div>
