<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6 text-right">
        <strong>Type</strong>
      </div>
      <div class="col-xs-6">{{capitalize model.type}}</div>
    </div>
    {{#if model.isTri}}
      <div class="row">
        <div class="col-xs-6 text-right">
          <strong>Swim Distance</strong>
        </div>
        <div class="col-xs-6">
          {{#if model.swimDistanceInKilometers}}
            {{format-number model.swimDistanceInKilometers maximumFractionDigits="1"}}
          {{else}}
            0
          {{/if}}
          KM
        </div>
      </div>
    {{/if}}
    {{#if (or model.isBike model.isTri)}}
      <div class="row">
        <div class="col-xs-6 text-right">
          <strong>Bike Distance</strong>
        </div>
        <div class="col-xs-6">
          {{#if model.bikeDistanceInKilometers}}
            {{format-number model.bikeDistanceInKilometers maximumFractionDigits="1"}}
          {{else}}
            0
          {{/if}}
          KM
        </div>
      </div>
    {{/if}}
    {{#if (or model.isRun model.isTri)}}
      <div class="row">
        <div class="col-xs-6 text-right">
          <strong>Run Distance</strong>
        </div>
        <div class="col-xs-6">
          {{#if model.runDistanceInKilometers}}
            {{format-number model.runDistanceInKilometers maximumFractionDigits="1"}}
          {{else}}
            0
          {{/if}}
          KM
        </div>
      </div>
    {{/if}}
    <div class="row">
      <div class="col-xs-6 text-right">
        <strong>Surface</strong>
      </div>
      <div class="col-xs-6">{{model.surface}}</div>
    </div>
  </div>
</div>
