<div class="search-row">
  <div class="col-sm-4">
    <strong>Race Type:</strong>
  </div>
  <div class="col-sm-8">
    <label class="checkbox-inline">
      {{input type="checkbox" checked=isRun}} Run
    </label>
    <label class="checkbox-inline">
      {{input type="checkbox" checked=isBike}} Bike
    </label>
    <label class="checkbox-inline">
      {{input type="checkbox" checked=isTri}} Tri
    </label>
  </div>
</div>
<div class="search-row">
  <div class="col-sm-4">
    <strong>Distance:</strong>
  </div>
  <div class="col-sm-8">
    <div class="search-row">
      <div class="col-xs-12">
        {{range-slider
          start=sliderStart
          range=sliderRange
          slide="distanceSlide"
          change='distanceChanged'}}
      </div>
    </div>
    <div class="search-row">
      <div class="col-xs-12">
        <div class="well well-sm pull-left">
          {{format-number distanceLowerBound maximumFractionDigits="1"}}
        </div>
        <div class="well well-sm pull-right">
          {{format-number distanceUpperBound maximumFractionDigits="1"}}
        </div>
      </div>
    </div>
  </div>
</div>
